/* ==========================================
        LOGIN & REGISTER
========================================== */

.auth-container{

    min-height:100vh;

}

/* ================================ */

.left-panel{

    background:linear-gradient(
    135deg,
    #22C55E,
    #16A34A
    );

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    flex-direction:column;

    padding:50px;

}

/* ================================ */

.left-panel img{

    width:260px;

}

/* ================================ */

.left-panel h1{

    font-weight:700;

    margin-top:25px;

}

/* ================================ */

.left-panel p{

    opacity:.9;

}

/* ================================ */

.right-panel{

    display:flex;

    justify-content:center;

    align-items:center;

}

/* ================================ */

.auth-card{

    width:100%;

    max-width:430px;

    padding:35px;

    border-radius:20px;

    background:white;

    box-shadow:0px 20px 45px rgba(0,0,0,.08);

}

/* ================================ */

.auth-card h2{

    font-weight:700;

}

/* ================================ */

.form-control{

    margin-bottom:18px;

}

/* ================================ */

.btn-login{

    width:100%;

    height:50px;

    border-radius:12px;

    background:#22C55E;

    color:white;

    border:none;

    font-weight:600;

}

.btn-login:hover{

    background:#16A34A;

}

/* ================================ */

.register-link{

    text-align:center;

    margin-top:20px;

}

/* ================================ */

@media(max-width:992px){

.left-panel{

display:none;

}

}